{% extends "base.html" %}
{% block content %}
<section class="content-section">
    <h2>About Us</h2>
    <p>We are very interested in predicting what will happen before it happens. As a club, we believe that it's very useful — and fun — to know the future. We can actually do this! By doing lots of practice, we become better forecasters, able to predict the world more accurately. We can use this knowledge to take actions that change the world for the better (for example: predicting a pandemic before it happens).</p>
</section>
{% endblock %}

