{% extends "base.html" %}
{% block content %}
<div class="flex flex-col items-center max-w-4xl mx-auto px-4">
    <section class="content-section text-center w-full">
        <h2>Forecasting Tournament - March 15</h2>
        <p class="mb-6">Join us for our next forecasting tournament! Compete with other forecasters to make the most accurate predictions about the world. Whether you're a seasoned forecaster or just starting out, this is your chance to test your skills, have fun, and compete for some prizes!</p>
        <a href="https://forms.gle/wxJmScEmiczi3Ewr9" class="center-content signup-box block mx-auto w-fit">Express interest!</a>
    </section>

    <section class="content-section w-full">
        <h2 class="text-center">Examples of Past Questions We've Forecasted</h2>
        <ul class="max-w-2xl mx-auto">
            <li>How many upvotes will the "Top" Sidechat post of the week on Brown have by 5 pm on 11/19?</li>
            <li>What are the odds of an article reporting on organized student response to election outcome (negative or positive) in the Brown Daily Herald (by next meeting)?</li>
            <li>Will Kelly Ayotte win the New Hampshire gubernatorial election?</li>
            <li>Will there be any attempted faithless electors in the 2024 election?</li>
        </ul>
    </section>
</div>
{% endblock %}
