{% extends "base.html" %}
{% block content %}
<div class="flex flex-col items-center max-w-4xl mx-auto px-4">
    <section class="content-section text-center w-full">
        <h2>March 15 — Intercollegiate Forecasting Tournament <br> $2,000+ prize pool + potential interviews at top firms</h2>
        <p class="mb-6">More info <a href="/tournament.html">here</a>!</p>
        <a href="https://airtable.com/appEUKKHcyKXrBPe3/pagUoOCii6OPMWPZd/form" class="center-content signup-box block mx-auto w-fit">Sign up here</a>
    </section>

    <section class="content-section w-full">
        <h2 class="text-center">Our Sponsors</h2>
        <div class="flex justify-center items-center flex-wrap">
            <div class="flex flex-col items-center">
                <img width="300px" src="assets/images/metaculus.png" alt="Metaculus Logo" class="h-16 object-contain">
            </div>
            <div class="flex flex-col items-center">
                <img width="300px" src="assets/images/optic.png" alt="Optic Logo" class="h-16 object-contain">
            </div>
            <div class="flex flex-col items-center">
                <img width="200px" src="assets/images/kalshi.png" alt="Kalshi Logo" class="h-16 object-contain">
            </div>
            <div class="flex flex-col items-center">
                <img style="height:90px; padding-left: 80px;" src="assets/images/bridgewater.png" alt="Bridgewater Logo" class="">
            </div>
        </div>
    </section>

    <section class="content-section w-full">
        <h2 id="past-questions" class="text-center">Examples of Past Questions We've Forecasted</h2>
        <ul class="max-w-2xl mx-auto">
            <li>How many upvotes will the "Top" Sidechat post of the week on Brown have by 5 pm on 11/19?</li>
            <li>What are the odds of an article reporting on organized student response to election outcome (negative or positive) in the Brown Daily Herald (by next meeting)?</li>
            <li>Will Kelly Ayotte win the New Hampshire gubernatorial election?</li>
            <li>Will there be any attempted faithless electors in the 2024 election?</li>
        <details>
        <summary style="padding: 10px;"><b>Show more questions</b></summary>
        <li>What is the probability that the weather in Warwick, RI will fall below 43 degrees F at any point between now and next meeting (10/10)?</li>
        <li>What is the probability that Bitcoin price will rise above $68k at any point between now and next meeting (10/10)?</li>
        <li>What is the probability that Donald Trump will accept the CNN presidential debate invitation for October 23 between now and next meeting (10/10)?</li>
        <li>Probability of any police being called to end a student protest by OCT 24th</li>
        <li>Probability APMA 1650 (Amelia Culiuc) exam results gets released by 10/24?</li>
        <li>Probability that CPax sends an email from president@brown.edu by the next meeting (10/24)?</li>
        <li>What is the probability that a Westbound Amtrak Sunset Limited train reports a delay of more than 4 hours upon arriving at its terminus before the 10:00 AM on 10/24?</li>
        <li>What is the probability that the Brown Daily Herald (BDH) will report on student response to the outcome of the 2024 presidential election (either negative or positive) by 2:00 PM EST on 11/7?</li>
        <li>What will Pennsylvania's voter turnout percentage be for the 2024 presidential election?</li>
        <li>See more under the <a href="https://www.metaculus.com/c/brown/">Brown Forecasting tag on Metaculus</a></li>
        </details>
        </ul>
    </section>
</div>
{% endblock %}
