{% extends "base.html" %}
{% block content %}
<div class="flex flex-col items-center max-w-4xl mx-auto px-4">
    <section class="content-section text-center w-full">
        <h2>Forecasting Tournament - March 15</h2>
        <p class="mb-6">This March, we will host our inaugural intercollegiate forecasting tournament, bringing together top college students from across New England and the Mid-Atlantic to compete for cash prizes. Hosted on Brown’s campus through the Metaculus platform, the event will feature a fast-paced 30-minute speed round followed by a rigorous three-hour forecasting challenge. Participants will sharpen their forecasting abilities through mathematical modeling, base-rate development, and intuitive reasoning. Compete for a chance at a $1,000+ prize pool!</p>
        <a href="https://forms.gle/wxJmScEmiczi3Ewr9" class="center-content signup-box block mx-auto w-fit">Express interest!</a>
    </section>

    <section class="content-section w-full">
        <h2 class="text-center">Our Sponsors</h2>
        <div class="flex justify-center items-center flex-wrap">
            <div class="flex flex-col items-center">
                <img width="300px" src="assets/images/metaculus.png" alt="Metaculus Logo" class="h-16 object-contain">
            </div>
            <div class="flex flex-col items-center">
                <img width="300px" src="assets/images/optic.png" alt="Optic Logo" class="h-16 object-contain">
            </div>
            <div class="flex flex-col items-center">
                <img width="300px" src="assets/images/kalshi.png" alt="Kalshi Logo" class="h-16 object-contain">
            </div>
        </div>
    </section>

    <section class="content-section w-full">
        <h2 class="text-center">Examples of Past Questions We've Forecasted</h2>
        <ul class="max-w-2xl mx-auto">
            <li>How many upvotes will the "Top" Sidechat post of the week on Brown have by 5 pm on 11/19?</li>
            <li>What are the odds of an article reporting on organized student response to election outcome (negative or positive) in the Brown Daily Herald (by next meeting)?</li>
            <li>Will Kelly Ayotte win the New Hampshire gubernatorial election?</li>
            <li>Will there be any attempted faithless electors in the 2024 election?</li>
        </ul>
    </section>
</div>
{% endblock %}
