{% extends "base.html" %}
{% block content %}
<section class="content-section">
    <h2>Our Team</h2>
    
    <div class="person-card">
        <div class="person-image">
            <img src="assets/images/grace.jpg" alt="Grace Yang" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;">
        </div>
        <div class="person-info">
            <h3>Grace Yang</h3>
            <p><strong>I’m a sophomore studying applied math and computer science. My favorite part of forecasting is predicting sports results, and spend my free time watching NFL/NBA games, developing data-driven strategy for Brown’s D1 football team, and play volleyball. I also love creating ceramics, backpacking, and finding delicious food.</strong></p>
        </div>
    </div>
    
    <div class="person-card">
        <div class="person-image">
            <img src="assets/images/jaeho.jpg" alt="Jaeho Lee" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;">
        </div>
        <div class="person-info">
            <h3>Jaeho Lee</h3>
            <p><strong>I plan to study applied math and statistics at Brown. When I’m not forecasting, I like to think about what makes people and organizations tick. I also play the cello.</strong></p>
        </div>
    </div>
    
    <div class="person-card">
        <div class="person-image">
            <img src="assets/images/noah.jpg" alt="Noah Kim" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;">
        </div>
        <div class="person-info">
            <h3>Noah Kim</h3>
            <p><strong>I’m a sophomore studying math - computer science and physics. I enjoy using logical frameworks and data to predict interesting events. If you run into me I’ll probably be reading a random books, watching kdramas, or making questionable decisions with my kalshi portfolio.</strong></p>
        </div>
    </div>
    
    <div class="person-card">
        <div class="person-image">
            <img src="assets/images/jacob.png" alt="Jacob Goldman-Wetzler" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;">
        </div>
        <div class="person-info">
            <h3>Jacob Goldman-Wetzler</h3>
            <p><strong>I'm a freshman studying math. Outside of forecasting, I'm interested in AI alignment, memory systems, and hiking. I love to read sci-fi.</strong></p>
        </div>
    </div>
    <h2>Contact</h2>
    <a href="mailto:forecasting@brown.edu">forecasting@brown.edu</a>
</section>
{% endblock %}
