{% extends "base.html" %}
{% block content %}
<section class="content-section">
    <h2>Spring 2025 Schedule</h2>
    
    <div class="schedule-item">
        <p class="schedule-date">Thu, Feb 6 — First Meeting</p>
        <p>Come forecast with us! We will get back to speed after break and discuss recent events. Location: MacMillan 116</p>
    </div>

       
    <div class="schedule-item">
        <p class="schedule-date">Sat, March 15 — First Annual Tournament</p>
        <p>Come have fun competing in a forecasting tournament against students from other colleges!</p>
    </div>

    <div class="schedule-item">
        <p class="schedule-date">More meetings to be announced soon...</p>
    </p>
</section>
{% endblock %}
