{% extends "base.html" %}
{% block content %}
<h2>Forecasting Tournament</h2>

<p>Join us for an intercollegiate forecasting tournament on <b>March 15</b>! We have a $1,000+ prize pool!</p>

<p>This <b>March 15</b>, we will host our inaugural intercollegiate forecasting tournament, bringing together top college students from across New England and the Mid-Atlantic to compete for cash prizes. Hosted on Brown’s campus through the Metaculus platform, the event will feature a fast-paced 30-minute speed round followed by a rigorous three-hour forecasting challenge. Participants will sharpen their forecasting abilities through mathematical modeling, base-rate development, and intuitive reasoning. Compete for a chance at a $1,000+ prize pool!</p>

<p>No prior experience is required!</p>

<h3>Tournament Schedule</h3>
<ul>
<li><b>11-11:30 am</b>: Start and intro</li>
<li><b>11:30-12pm</b>: Speed round</li>
<li><b>12-1pm</b>: Lunch</li>
<li><b>12-4pm</b>: Forecasting period</li>
<li><b>4-5pm</b>: Closing</li>
</ul>

<p>Food <b>will be provided</b>!</p>

<hr>

<h3>Sign up <a href="https://airtable.com/appEUKKHcyKXrBPe3/pagUoOCii6OPMWPZd/form">here</a>! (do it now; &lt;2 mins)</h3>

{% endblock %}

