{% extends "base.html" %}
{% block content %}
<h2>Forecasting Tournament</h2>

<p>Join us for an intercollegiate forecasting tournament on March 15! We have a $1,000+ prize pool!</p>

<h3>Tournament Schedule</h3>
<ul>
<li><b>11am</b>: Start and intro</li>
<li><b>11:30-12pm</b>: Speed round</li>
<li><b>12-1pm</b>: Lunch</li>
<li><b>12-4pm</b>: Forecasting period</li>
<li><b>4-5pm</b>: Closing</li>
</ul>

<p>Food <b>will be provided</b>.</p>

<h3>Sign up <a href="https://airtable.com/appEUKKHcyKXrBPe3/pagUoOCii6OPMWPZd/form">here</a></h3>

{% endblock %}

