{% extends "base.html" %}
{% block content %}
<h2>Forecasting Tournament</h2>

<p>Join us for an intercollegiate forecasting tournament on <b>March 15</b>! We have a $2,000+ prize pool!</p>

<p>This <b>March 15</b>, we will host our inaugural intercollegiate forecasting tournament, bringing together top college students from across New England and the Mid-Atlantic to compete for cash prizes. Hosted on Brown’s campus through the Metaculus platform, the event will feature a fast-paced 30-minute speed round followed by a rigorous three-hour forecasting challenge. Participants will sharpen their forecasting abilities through mathematical modeling, base-rate development, and intuitive reasoning. Compete for a chance at a $2,000+ prize pool and potential interview opportunities at top firms!</p>

<p>No prior experience is required!</p>

<h3>Tournament Schedule</h3>
<ul>
<li><b>11-11:30 am</b>: Start and intro</li>
<li><b>11:30-12 pm</b>: Speed round</li>
<li><b>12-1 pm</b>: Lunch</li>
<li><b>1-4 pm</b>: Forecasting period</li>
<li><b>4-5 pm</b>: Closing</li>
</ul>

<p>Food <b>will be provided</b>!</p>

<hr>

<h2>FAQ</h2>

<h3>How does the tournament work?</h3>
<p>During the tournament, teams will make predictions on a variety of real-world events by giving probabilities. Then a few months later, we resolve the questions and the teams that predicted events most accurately will win prizes!</p>
<h3>Do I need prior experience?</h3>
<p>No! Anyone is welcome, even if they have not forecasted before. All you need is the ability to think critically about the future and make predictions.</p>
<h3>What are examples of questions?</h3>
Here are some questions we've forecasted at club meetings in the past. You can expect tournament questions to be similar, but more broadly applicable.

        <ul>
            <li>How many upvotes will the "Top" Sidechat post of the week on Brown have by 5 pm on 11/19?</li>
            <li>What are the odds of an article reporting on organized student response to election outcome (negative or positive) in the Brown Daily Herald (by next meeting)?</li>
            <li>Will Kelly Ayotte win the New Hampshire gubernatorial election?</li>
            <li>Will there be any attempted faithless electors in the 2024 election?</li>
        <details>
        <summary style="padding: 10px;"><b>Show more questions</b></summary>
        <li>What is the probability that the weather in Warwick, RI will fall below 43 degrees F at any point between now and next meeting (10/10)?</li>
        <li>What is the probability that Bitcoin price will rise above $68k at any point between now and next meeting (10/10)?</li>
        <li>What is the probability that Donald Trump will accept the CNN presidential debate invitation for October 23 between now and next meeting (10/10)?</li>
        <li>Probability of any police being called to end a student protest by OCT 24th</li>
        <li>Probability APMA 1650 (Amelia Culiuc) exam results gets released by 10/24?</li>
        <li>Probability that CPax sends an email from president@brown.edu by the next meeting (10/24)?</li>
        <li>What is the probability that a Westbound Amtrak Sunset Limited train reports a delay of more than 4 hours upon arriving at its terminus before the 10:00 AM on 10/24?</li>
        <li>What is the probability that the Brown Daily Herald (BDH) will report on student response to the outcome of the 2024 presidential election (either negative or positive) by 2:00 PM EST on 11/7?</li>
        <li>What will Pennsylvania's voter turnout percentage be for the 2024 presidential election?</li>
        <li>See more under the <a href="https://www.metaculus.com/c/brown/">Brown Forecasting tag on Metaculus</a></li>
        </details>
        </ul>


<hr>

<h3>Sign up <a href="https://airtable.com/appEUKKHcyKXrBPe3/pagUoOCii6OPMWPZd/form">here</a>! (do it now; &lt;2 mins)</h3>

{% endblock %}

